
.grid-x
  .cell.large-8
    %h2 MatchMaker
    %ul
      %li.grid-x
        .cell.large-2
          %h3 Name
        .cell.large-2
          %h3 Stats
        .cell.large-2
          %h3 Tasks


    - @agents.each do |a|
      %li.card
        .grid-x
          .cell.large-2
            = a.name
          .cell.large-2.grid-x
            .cell Available Brainshare
            .cell= a.available_brainshare.round(2)
          .cell.large-5
            %ul.tasks
              - a.tasks.each do |t|
                = render "task", task: t

  .cell.large-4
    %h2 Tasks
    %ul
      - @tasks.each do |t|
        - if !t.taken? && !t.complete?
          %li.grid-x
            = render "task", task: t
